*{
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#header{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media (max-width:1440px){
.row {
    width:100%;
    display: flex;
    margin-top: 70px;
    flex-direction: row;
    /* background: red; */
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.card{
    background: gray;
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
    border: 2px solid rgb(31, 30, 30);
}

.card h3{
    width: 25%;
    align-self: flex-end;
    text-align: center;
    padding: 3px 10px 3px 10px ;
    background: palevioletred;
    margin: 0;
    border-left: 2px solid rgb(31, 30, 30);
    border-bottom: 2px solid rgb(31, 30, 30);
    border-top: thin none transparent;
    border-right: thin none transparent;
}

#two{
    background: rgb(207, 48, 48);
}

#three{
    background: rgb(228, 230, 143);
}
.tablet-view{
    display: none;
}


}


  @media (max-width:991px) {
      .row{
          display:none;
      }
    }

      .tablet-view{
        display: flex;
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px 0 20px;
        margin-left: 5%;
        margin-top: 50px;
        font-size: x-large;
    }

    #tablet{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    #tablet div{
        width:45%;
    }

    #card3{
        width: 100%;
    }

    @media   (max-width: 767px){

        #header{
            width: 90%;
            margin-left: 5%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 70%;
        }
        
    
        .row{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    
        .card{
            background: gray;
            padding: 0 0 0 10px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-bottom: 10px;
            width: 90%;
            border: 2px solid rgb(31, 30, 30);
        }
    
        .card h3{
            width: 40%;
            align-self: flex-end;
            text-align: center;
            padding: 3px 10px 3px 10px ;
            background: palevioletred;
            margin: 0;
            border-left: 2px solid rgb(31, 30, 30);
            border-bottom: 2px solid rgb(31, 30, 30);
            border-top: thin none transparent;
            border-right: thin none transparent;
        }
        .tablet-view{  display: none;
        }
    }